langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_openai
langchain_huggingface
faiss-cpu
langchain_chroma
tiktoken
pandasai
streamlit
langchain_groq
langchain_core
huggingface_hub
openai
PyPDF2
langchainhub
crewai
crewai_tools
