langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_openai
langchain_huggingface
faiss-cpu
langchain_chroma
tiktoken
pandasai
pyaudio
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
gradio
cassio
datasets
openai
PyPDF2
arxiv
wikipedia
langchainhub
duckduckgo-search
crewai
crewai_tools
yt_dlp
moviepy
SpeechRecognition
whisper